<!-- 
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>

<li> -->

<li>
    <a href="https://orcid.org/0000-0002-1434-7166">
      <i class="fa fa-fw fa-id-card" aria-hidden="true"></i> ORCID
    </a>
</li>


<li>
    <a href="https://scholar.google.com/citations?user=UMrjBr0AAAAJ&hl=en">
      <i class="fa fa-fw fa-google" aria-hidden="true"></i> Google Scholar
    </a>
</li>